<div class="container-paint">
    <div>
        .
        <canvas
            #canvas
            [width]="canvasWidth"
            [height]="canvasHeight"
            (mousedown)="startDrawing($event, selectedColor, penThickness)"
            (mousemove)="draw($event)"
            (mouseup)="endDrawing()"
        ></canvas>
    </div>
    <div style="clear: both;"></div> 

    <div class="menu-bar">
        <div>
          <h2>Barra de Menú</h2>
          <div class="clear-button"> 
            <button type="button" (click)="regresarUltimoTrazo()"> <img width="50px" src="https://cdn-icons-png.freepik.com/512/5397/5397386.png" alt=""></button>
            <button type="button" (click)="clearCanvas()"  > <img width="50px" src="https://cdn-icons-png.flaticon.com/512/1214/1214594.png" alt=""></button>
        
       
          </div>

          <div class="pen-thickness-container">
            <h3>Grosor <br/> del Lápiz:</h3>
            <input type="button" value="Fino" (click)="seleccionarGrosor(1)">
            <input type="button" value="Mediano" (click)="seleccionarGrosor(3)">
            <input type="button" value="Grueso" (click)="seleccionarGrosor(5)">
          </div>

          <div class="colors">
            <h3>Colores Disponibles</h3>
            <input type="button" value="" class="color-button_red" (click)="seleccionarColor('red')">
            <input type="button" value="" class="color-button_blue" (click)="seleccionarColor('blue')">
            <input type="button" value="" class="color-button_green" (click)="seleccionarColor('green')">
            <input type="button" value="" class="color-button_purple" (click)="seleccionarColor('purple')">
            <input type="button" value="" class="color-button_black" (click)="seleccionarColor('black')">
            <input type="button" value="" class="color-button_gray" (click)="seleccionarColor('gray')">
          </div>
        </div>
      </div>
</div>
